body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: aqua;
}
#container{
    width: 1000px;
    height: 550px;
    background-color: black;
    margin: 20px auto;
}
#calculator{
    width: 330px;
    height: 520px;
    background-color:hsla(110, 4%, 31%, 0.782) ;
    margin: auto;
    top: 20px;
    border-radius: 6px;
    box-shadow: 13px 17px 15px peru;
   }
#keyboard{
    height: 400px;
}
.operator, .number, .empty{
    width: 50px;
    height: 50px;
    margin: 15px;
    float: left;
    border-radius: 50%;
    border-width: 6;
    font-weight: bold;
    font-size: 15px;
}
.number, .empty{
    background-color: blue;
}
.number, .operator{
    cursor: pointer;
}
.operator:active, .number:active{
    font-size: 13px;
}
.operator:focus, .number:focus, .empty:focus{
    background-color: rgb(243, 7, 77);
    outline: 0;
}
#result{
    height: 120px;
}
#history{
    text-align: right;
    height: 20px;
    margin: 0 20px;
    padding-top: 20px;
    font-size: 15px;
color:yellow;
}
#output{
    text-align: right;
    height: 60px;
    margin: 10px 20px;
    font-size: 30px;
    color: yellow;
}
#keyboard{
    height: 400px;
} 
button:nth-child(4){
    font-size: 20px;
    background-color: rgb(108, 80, 221);
}
button:nth-child(8){
    font-size: 20px;
    background-color:rgb(108, 80, 221);
}button:nth-child(12){
    font-size: 20px;
    background-color: rgb(108, 80, 221);
}button:nth-child(16){
    font-size: 20px;
    background-color: rgb(108, 80, 221);
}button:nth-child(20){
    font-size: 20px;
    background-color: rgb(108, 80, 221)
    ;
}